In [29]:
from sklearn.metrics import f1_score, accuracy_score

In [2]:
ground_truth = pd.read_csv("/Users/arpitjain/Downloads/SatPRo/2001_L7_data/ChangeClassifier/GroundTruth_ChangeClassifier.csv")

In [3]:
ground_truth.columns

Index(['census_code', 'MSW_change', 'MSW_2001', 'BF_change', 'BF_2001',
       'CHH_change', 'CHH_2001', 'EMP_change', 'EMP_2001', 'MSL_change',
       'MSL_2001', 'FC_change', 'FC_2001', 'ASSET_change', 'ASSET_2001',
       'Formal_EMP_2001', 'LIT_2001'],
      dtype='object')

In [22]:
ground_truth.head(2)

,census_code,MSW_change,MSW_2001,BF_change,BF_2001,CHH_change,CHH_2001,EMP_change,EMP_2001,MSL_change,MSL_2001,FC_change,FC_2001,ASSET_change,ASSET_2001,Formal_EMP_2001,LIT_2001
0,1,0,1,0,2,0,1,0,1,1,2,0,1,0,1,2,1
1,2,0,3,0,2,1,1,0,1,0,3,0,2,1,1,2,1

In [68]:
file = pd.read_csv("/Users/arpitjain/Downloads/SatPRo/2001_L7_data/ChangeClassifier/input_data/MSW_CC.csv")

In [69]:
file['change'] = file['predictions_2011'] - file['predictions_2001']
file['change'].value_counts()
file.loc[file['change']<=0, 'change'] = 0
file['change'].value_counts()
file.loc[file['change']>0, 'change'] = 1
print(file['change'].value_counts())

0    494
1    129
Name: change, dtype: int64

In [70]:
file.head(2)

,census_code,predictions_2001,predictions_2003,predictions_2005,predictions_2007,predictions_2009,predictions_2011,change
0,80,3,3,2,2,3,3,0
1,178,2,2,2,2,2,2,0

In [71]:
data = ground_truth.merge(file, on='census_code', how='left')
data.dropna(inplace=True)
print(data.shape)

(580, 24)

In [72]:
data.columns

Index(['census_code', 'MSW_change', 'MSW_2001', 'BF_change', 'BF_2001',
       'CHH_change', 'CHH_2001', 'EMP_change', 'EMP_2001', 'MSL_change',
       'MSL_2001', 'FC_change', 'FC_2001', 'ASSET_change', 'ASSET_2001',
       'Formal_EMP_2001', 'LIT_2001', 'predictions_2001', 'predictions_2003',
       'predictions_2005', 'predictions_2007', 'predictions_2009',
       'predictions_2011', 'change'],
      dtype='object')

In [73]:
y_true = data['MSW_change']
y_pred = data['change']

In [74]:
print(f1_score(y_true, y_pred, average='weighted'))
print(accuracy_score(y_true, y_pred))

0.7747261726951966
0.7655172413793103