In [1]:
import pandas as pd
import numpy as np

In [2]:
import csv

In [3]:
df = pd.read_csv(r"C:\Users\AJain7\OneDrive - Stryker\Personal\Projects\Satellite Project\Labels\Asset_2011.csv")

c:\users\ajain7\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.columns

Index(['State', 'District1', 'Village Code', 'Ward', 'Name', 'Asset_label'], dtype='object')

In [6]:
cols = ['Village Code','Asset_label']

In [7]:
df = df[cols]

In [9]:
df.describe().iloc[0,0]

687714.0

In [10]:
df1 = df.groupby(by='Village Code').agg(lambda x:x.value_counts().index[0])

In [12]:
df1.describe().iloc[0,0]

605413.0

In [15]:
df1.to_csv('VillageLabels_ASSETS.csv',index=True)

In [14]:
df1.head()

              Asset_label
Village Code
0                       2
2                       1
5                       1
6                       1
7                       1