In [1]:
import pandas as pd
import numpy as np
import xlrd

In [3]:
df = pd.read_excel(r"C:\Users\AJain7\Desktop\result2.xlsx")

In [4]:
df.head()

,PARTNUMBER_WTPART,EID_ID_VALUE_ATTRBUTETABLE,EID_QB_REGTABLE,PROD_REG_NUMBER,PARTNUMBER_QB_REGTABLE
0,5610-T-101,1000141,1000141,REG-84473,5610-T-101
1,5610-T-102,1000142,1000142,REG-84473,5610-T-102
2,5610-T-201,1000143,1000143,REG-84473,5610-T-201
3,5610-T-202,1000144,1000144,REG-84473,5610-T-202
4,5610-T-301,1000145,1000145,REG-84473,5610-T-301

In [5]:
df.shape

(15358, 5)

In [7]:
array1 = np.array(df['EID_ID_VALUE_ATTRBUTETABLE'])

In [10]:
df.drop_duplicates(subset=['EID_ID_VALUE_ATTRBUTETABLE', 'PARTNUMBER_WTPART'], keep=False, inplace=True)

(9747, 5)