## This notebook is aimed at calculating f1_weighted scores on 2001 on models trained on 2011

In [94]:
ground_truth = pd.read_csv(r"C:\Users\AJain7\OneDrive - Stryker\Personal\Projects\Satellite Project\3. Ground_Truth\District\District - Ground Truth - 2011&2001.csv")

In [95]:
ground_truth.head()

   census_code  EMP_2011  EMP_2001  MSW_2011  MSW_2001  BF_2011  BF_2001     ...      FC_2001  CHH_2011  CHH_2001  F_EMP_2001  F_EMP_2011  ASSET_2011  ASSET_2001
0            1         1         1         1         1        1        2     ...            1         1         1           1           1           1           1
1            2         1         1         3         3        1        2     ...            2         2         1           2           1           2           1
2            3         3         3         1         1        2        2     ...            3         2         1           3           1           2           1
3            4         3         3         3         1        3        2     ...            2         1         1           3           1           1           1
4            5         1         2         1         1        1        1     ...            1         1         1           3           1           1           1

[5 rows x 17 columns]

In [96]:
ground_truth = ground_truth[['census_code', 'F_EMP_2001']]

In [97]:
ground_truth.head()

   census_code  F_EMP_2001
0            1           1
1            2           2
2            3           3
3            4           3
4            5           3

In [98]:
indi = pd.read_csv(r"C:\Users\AJain7\OneDrive - Stryker\Personal\Projects\Satellite Project\5. District_level\Change Classifier\Arpit\1. generating predictions_anuj\predictions_past_data_emp_fem_pivot.csv")

In [99]:
indi.head()

   census_code  2001  2003  2005  2007  2009  2011
0            1     1     1     1     0     0     0
1            2     0     0     0     0     0     0
2            3     2     2     2     2     2     2
3            4     0     0     2     2     2     0
4            5     1     1     1     1     1     0

In [100]:
cols = ['census_code', '2001']
indi = indi[cols]
indi.columns

Index(['census_code', '2001'], dtype='object')

In [101]:
data = ground_truth.merge(indi, on='census_code', how='left')

In [102]:
data.head()

   census_code  F_EMP_2001  2001
0            1           1     1
1            2           2     0
2            3           3     2
3            4           3     0
4            5           3     1

In [103]:
from sklearn.metrics import f1_score

In [104]:
print(f1_score(data['F_EMP_2001'], data['2001'], average='weighted'))

0.1464618027253878